extends layout

block content
 .register
  h2.page-header Register
  p Please register using the form below
   form(method='post', action='/users/register')
   .form-group
    label Company Name
    input.form-control(name='company', type='text', placeholder='Enter Company Name')
   .form-group
    label Name
    input.form-control(name='name', type='text', placeholder='Enter Name')
   .form-group
    label Title
    input.form-control(name='title', type='text', placeholder='Enter Title')   
   input.btn.btn-primary(type='submit', name='submit',value='Register')

     